<%- include('../partials/header') %>

<main id="reviewerprofile">

    <div class="profpiccoverphoto">
        <div id="rcphoto"><img src="/uploads/<%= profile.photoURL%>" alt="" ></div>
        <div id="rppic"><img src="" alt="" ></div>
    </div>

   <div class="descriptionandpersonaldetails">
   <div class="rpdiv1">
    <p id="aboutreviewer">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio iusto qui sint magnam fugiat? Animi est eos impedit architecto voluptatibus adipisci dolorem maxime quia repellendus!
    </p>

    <table id="tablereviewerprofile">
        <tbody>
            <tr>
                <td class="data-point">Name</td>
                <td><%= profile.name %></td>
            </tr>
            <tr>
                <td class="data-point">Email</td>
                <td><%= profile.email %></td>
            </tr>
            <tr>
                <td class="data-point">Phone Number</td>
                <td><%= profile.phoneNumber %></td>
            </tr>
            <tr>
                <td class="data-point">Date joined</td>
                <td><%= profile.datejoined %></td>
            </tr>
            <tr>
                <td class="data-point">Facebook</td>
                <td><a href="<%= profile.facebookURL %>"><%= profile.facebookURL %></a></td>
            </tr>
            <tr>
                <td class="data-point">Twitter</td>
                <td><a href="<%= profile.twitterURL %>"><%= profile.twitterURL %></a></td>
            </tr>
            <tr>
                <td class="data-point">Instagram</td>
                <td><a href="<%= profile.instagramURL%>"><%= profile.instagramURL %></a></td>
            </tr>
        </tbody>
    </table>
   </div>

    <div class="rpdiv2">

        <h2>
            Your reviews
        </h2>

        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, fuga iste nam soluta voluptas ipsum voluptates aliquid? Excepturi odio doloremque eveniet laudantium, aspernatur quibusdam accusantium maxime rem totam aperiam! Autem quas ex non quia tempore nulla accusantium dolorem, quasi hic ut deserunt vitae dicta quam delectus, voluptate provident recusandae libero rerum blanditiis laborum laudantium. Quisquam placeat, magnam velit distinctio mollitia veniam quas maxime! Officiis nihil repellendus neque omnis aliquam doloremque, dolorem mollitia saepe beatae nam pariatur quia totam velit iusto ducimus! Earum perspiciatis quod temporibus architecto culpa, possimus iusto unde magnam, sit quisquam quia eum, vitae cum exercitationem. Perspiciatis harum eos repudiandae ut error delectus aliquid atque tempora modi eveniet totam, sit, quis unde, quibusdam molestiae fugiat officiis deleniti. Delectus quaerat aperiam sint veritatis ullam asperiores, minima consectetur exercitationem in reiciendis consequuntur commodi dolor, magni saepe ipsum placeat sit? Nemo facere nesciunt, excepturi architecto debitis iste velit modi assumenda sunt corrupti provident accusamus fugit error. Nulla doloribus fugiat similique cumque ipsam aliquid, tenetur veniam optio. Id reiciendis deserunt, placeat ex adipisci amet ea earum accusantium provident? Ullam, maxime quibusdam iste obcaecati nam maiores pariatur quas, repellat aperiam exercitationem culpa totam cumque consequuntur eum neque odio fugit vel aliquid aspernatur quae officia quia harum fugiat sed. Perspiciatis laudantium facilis eaque explicabo harum? Ut facilis eius ipsa ducimus, adipisci dolor facere id veritatis perspiciatis ea alias atque mollitia voluptas quis incidunt suscipit. Quas tempore modi odio dicta assumenda deleniti 
        incidunt recusandae earum aspernatur commodi, repudiandae cum similique doloremque facilis temporibus, distinctio nulla.
        
        </p>
    </div>

    
   </div>
    </main>