<%- include('partials/header') %>

<main class="reviewereditprofile">
    <form action="/editprofile/<%= profile.id%>" method="post" enctype="multipart/form-data">
        <h1>Edit Profile</h1>

        <div class="form-input">
            <div id="labelrep"><label for="">dob</label></div>
            <div id="inputrep"><input type="text" name="dob" id="" value="<%= profile.dob%>"></div>
        </div>

        <div class="form-input">
           <div id="labelrep"> <label for="">Name</label></div>
            <div id="inputrep"><input type="text"  name="fullName" id="" value="<%= profile.name%>"></div>
        </div>

        <div class="form-input">
            <div id="labelrep"><label for="">User name</label></div>
            <div id="inputrep"><input type="text" name="userName" id="" value="<%= profile.userName%>"></div>
        </div>

        <div class="form-input">
            <div id="labelrep"><label for="">Email</label></div>
            <div id="inputrep"><input type="email" name="email" id="" value="<%= profile.email%>"></div>
        </div>

        <div class="form-input">
            <div id="labelrep"><label for="">Phone Number</label></div>
            <div id="inputrep"><input type="text" name="phoneNumber" id="" value="<%= profile.phoneNumber%>" ></div>
        </div>

        <div class="form-input">
            <div id="labelrep"><label for="">Facebook Profile Link</label></div>
            <div id="inputrep">
            <input type="text" name="facebookURL"  id="" value="<%= profile.facebookURL%>">
            </div>
        </div>

        <div class="form-input">
            <div id="labelrep"><label for="">Twitter Profile Link</label></div>
            <div id="inputrep"><input type="text" name="twitterURL" id="" value="<%= profile.twitterURL%>"></div>
        </div>

        <div class="form-input">
            <div id="labelrep"><label>Instagram Profile Link</label></div>
            <div id="inputrep"><input type="text" name="instagramURL" id="" value="<%= profile.instagramURL%>"></div>
        </div>


        <div class="form-input">
            <div id="labelrep"><label for="">Date joined</label></div>
            <div id="inputrep"><input type="text" name="dateJoined" id=""></div>
        </div>

        <div class="form-input">
            <div id="labelrep"><label for="">Cover Photo</label></div>
            <div id="inputrep"><input type="file" name="cphotoURL" id=""></div>
        </div>

        <div class="form-input">
            <div id="labelrep"><label for="">Profile Picture</label></div>
            <div id="inputrep"><input type="file" name="photoURL" id=""></div>
        </div>

        
        <input id="submitbuttonrep" type="submit" value="Update Profile">

    </form>
</main>


<%- include('partials/footer')%>
